.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.board-container {
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
}

.board-highlight-focus {
    border-color: red;
}

.board-highlight-win {
    border-color: green;
}

.board-highlight {
    border-width: 7px !important;
    padding: 0px;
}

.board-highlight-hidden {
    border-color: transparent;
    border-image: none !important;
}