.extreme-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.extreme-board__title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    font-size: 10px;
}

.extreme-board__status {
    margin: 10px 0;
    text-align: center;
}

.extreme-board-col {
    gap: 10px;
    display: flex;
    flex-direction: row;
}