.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square-solid-x {
    background-color: rgb(128, 0, 90);
}

.square-solid-o {
    background-color: rgb(0, 26, 128);
}
